.comment-form {
    width: 100%;
    margin-bottom: 20px;
}

.create-comment_button {
   text-decoration: none;
   border: none;
   margin-top: -10 
}

.all-comments {
    width: 100%;

}

.individual_comment {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600; 
    // display: inline-block;
    flex-wrap: wrap;
    margin: 5px 0 3px 5px;
}

.comment-auth-container {
    margin-right: 3px;
}

.comment-auth {

}

.comment-body-container {
font-weight: 400;
}

.comment-body {

}

.comment-index-item-delete-button {

}