
.comment-index-container {
    width: 568px;
    margin-bottom: 5px;
}

.all-comments-ul {
    width: 100%;
    border-left: solid #e6e6e6 1px;
    border-right: solid #e6e6e6 1px;
    margin: -6px 0 0px -1px;
    padding-bottom: 3px;
    background: white; 
    // max-height: 150px;
    // overflow-y: scroll;
}

.individual_comment {
    display: flex;
    flex-direction: row;
    max-width: 455px;
    flex-wrap: wrap;
    font-size: 11px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600; 
    flex-wrap: wrap;
    margin: 3px 0 3px 0px;
       padding: 3px 8px;
}

.comment-auth-container {
}

.comment-auth {
    text-decoration: none;
    color: black;
}

.comment-body-container {
    font-weight: 400;
    margin-left: 7px;
}

.comment-body {
    max-width: 395px;
    flex-wrap: wrap;
}
.comment-form {
    margin: 0 0 0px -1px;
    font-size: 14px;
    outline: none;
}

// .comment-form-precise {
// }


.comment-delete {
    padding: 0px 5px 0 5px;
    color: #3897f0;
    background: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
}
.comment-options:focus {outline:0;}

.add-comment{
    border: solid 1px #dbdbdb;
    color: #262626;
    padding: 5px 0px 5px 2px;
    min-height: 25px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 100;
    width: 99.5%;
    font-size: 10px;
    // margin-bottom: 7px;
    outline: none;
    flex-wrap: wrap;
}

.add-comment-show {
    border: solid 1px #dbdbdb;
    color: #262626;
    padding: 5px 84px 5px 10px;
    min-height: 25px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 100;
    width: 86.5%;
    font-size: 10px;
    margin-bottom: 7px;
    outline: none;
    flex-wrap: wrap;
}

.add-comment:focus {outline:0;}

.create-comment_button {
    color: #3897f0;
    border: 0;
    display: inline;
    padding: 0;
    background: transparent;
}
.create-comment_button:focus {outline:0;}
.comment-heart {
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png"); 
    background-size: 13px 13px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.comment-heart-filled {
    background-image: url("https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-07-512.png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: -1px;
}
.comment-like-count {
    color: black;
    font-size: 5px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin-top: 7px;
    margin-left: -1px;
}

.comment-likes {
    width: 100%;
    margin: 2px 3px;
    display: flex;
}