.comment-form {
    width: 100%;
    margin-bottom: 20px;
}

.create-comment_button {
   text-decoration: none;
   border: none;
   margin-top: -10 
}


.individual_comment {

}

.comment-auth-container {

}

.comment-auth {

}

.comment-body-container {

}

.comment-body {

}