
.comment-index-container {
    width: 478px;
    margin-bottom: 5px;
}
// .all-comments {
//        width: 100%;
//     border-left: solid #e6e6e6 1px;
//     border-right: solid #e6e6e6 1px;
//     margin: -6px 0 0px -1px;;
// }

.all-comments-ul {
    width: 100%;
    border-left: solid #e6e6e6 1px;
    border-right: solid #e6e6e6 1px;
    margin: -6px 0 0px -1px;
    padding-bottom: 3px; 
}

.individual_comment {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    flex-wrap: wrap;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600; 
    // display: inline-block;
    flex-wrap: wrap;
    margin: 3px 0 3px 0px;
       padding: 3px 8px;
}

.comment-auth-container {
    // margin-right: 3px;
}

.comment-auth {
    text-decoration: none;
    color: black;
}

.comment-body-container {
    font-weight: 400;
    margin-left: 7px;
}

.comment-body {
    max-width: 270px;
    flex-wrap: wrap;
}
.comment-form {
    width: 458px;
    margin: 0 0 12px -1px;
    font-size: 14px;
    // line-height: 1px;
}

// .comment-form-precise {
//     width: 278px;
//     font-size: 14px;
//     line-height: 18px;
//     min-height: 56px;
// }


.comment-options {
    margin: 0 0px 0 405px;
    position: absolute;
    padding: 0px 5px 0 5px;
    // background: #87cdfa;
    // color: white;
    color: #3897f0;
    background: #fafafa;
    // border-radius: 5px;
    border: none;
    font-size: 10px;
    cursor: pointer;
}
.comment-options:focus {outline:0;}

.add-comment{
    border: solid 1px #dbdbdb;
    color: #262626;
    padding: 12px 10px 0px 10px;
    background-color: #fafafa;
    min-height: 25px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 100;
    width: 100%;
    font-size: 10px;
    margin-bottom: 7px;
    margin-top: -4px;
}

.add-comment:focus {outline:0;}

.create-comment_button {
    color: #3897f0;
    background: #fafafa;
    border: 0;
    display: inline;
    padding: 0;
    position: absolute;
    margin: -35px 0 0 434px;
}
.create-comment_button:focus {outline:0;}
.comment-heart {
    // background-image: url("https://images.vexels.com/media/users/3/147091/isolated/preview/5f8a1ea9c90ceed8d92999bc824417eb-instagram-heart-icon-by-vexels.png");
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png"); 
    background-size: 13px 13px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    margin: -10px 0 0 447px;
}

.comment-heart-filled {
    // background-image: url("https://cdn130.picsart.com/271687389016211.png");
    background-image: url("https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-07-512.png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: -11px 0px 0px 446px;
    position: absolute;
}
.comment-like-count {
    color: black;
    font-size: 5px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: -3px 0px 0 459px;
    position: absolute;
}

.comment-likes {
    width: 100%;
}