.follow-button {
    background: #ebebeb;
}

.followers-count {
    font-size: 12px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 14px 30px 14px 0px;
    width: 100%;
    display: flex; 
}

.followers {
    font-size: 12px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 200;
    padding: 0px 0px 0px 4px;
    width: auto; 
}