.post-show-caption {
    background-color: red;
}

.post-index-item-caption{
    background-color: blue;
}

.post-index-item-delete-button{
    background-color: green;
}

.post-index-item-edit {
   background-color: yellow;
}