.initial-greeting {
    font-size: 32px;
    width: 259px;
    text-align: center;
    margin: 71px 80px 0 0;
    font-family: "Cookie", cursive;
    // color: #999999;
    color: black;
}
.post-auth {
    margin-left: 4px;
    margin-top: 19px;
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600; 
}
.post-auth-image {
    display: flex;
    align-content: center;
    background-position: center;
    margin-left: 7px;
    margin-top: 3.5px;
    background-image: url("https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-17-512.png");
    background-size: 43px 43px;
    height: 40px;
    width: 40px;;
}

.post-auth-options {
    display: flex;
    justify-content: center;
    background-image: url(https://cdn3.iconfinder.com/data/icons/solid-icons-part-5/128/dot-512.png);
    background-size: 5px 5px;
    height: 5px;
    width: 16px;
    margin-top: 22px;
    // cursor: pointer;
    margin-left: 446px;
    position: absolute; 
}

.post-auth-options-list:hover {
    // background: blue;
    margin-bottom: 10px;
    z-index: 5;
}
.post-auth-options-list {
    z-index: 5;
    margin-top: 5px;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    // font-weight: 500;
    text-decoration: none;
}

.post-auth-options-list-item {
    padding: 4px 15px;
    // background: transparent;
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    z-index: 5;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    // cursor: pointer;
}
.post-auth-options-list-item-show {
    text-decoration: none;
    color: black;
}
.post-auth-options-delete {
    display: hidden;
    cursor: pointer;
}

.post-auth-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 46px;
    background-color:white; 
    border: solid #e6e6e6 1px; 
    text-align: start;
    margin-top: 15px;
   
}

.post-show-auth-container {
    display: flex;
    align-items: flex-start;
    height: 46px;
    width: 100%;
    background-color:white; 
    border: solid #e6e6e6 1px; 
    text-align: start;
    margin-top: 15px;
   
}

.post-photo-container {
//   border: solid black 0.5px;
  width: 100%; 
//   height: 100%;
}

.post-caption {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin-left: 6px;
    margin-top: 4px;  
    background: white; 
}

.post-caption-auth {
    display: inline-block;
    overflow: hidden;
    font-size: 10px;
    color: black;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600; 
    margin-left: 8px;
    width: auto;
    margin-top: 4px;
    text-decoration: none;

}
.post-caption-container {
    border: solid #e6e6e6 1px;
    border-bottom: none;
    border-top: none; 
    width: 100%;
    height: 20px;
    padding-top: 5px;
    display: flex;
    padding-bottom: 8px;
    // margin-bottom: 5px;
    background: white;
}


.post-options {
    border-left: solid #e6e6e6 1px; 
    border-right: solid #e6e6e6 1px; 
    height: 20px;
    // width: 100%;
    width: 100%;
    padding-top: 4px;
    display: flex;
    background: white;
}

[class*="post-options-"] {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  padding-top: 3px;
}
.post-options-heart {
    // background-image: url("https://images.vexels.com/media/users/3/147091/isolated/preview/5f8a1ea9c90ceed8d92999bc824417eb-instagram-heart-icon-by-vexels.png");
    // background-image: url("https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-07-512.png");
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png");
    // background-image: url("../images/heart-icon.png");
    background-size: 24px 26px;
    width: 23px;
    height: 19px;
    cursor: pointer;
    margin: -2px 0px 0 5px;
}
.post-options-heart-filled {
    // background-image: url("https://cdn130.picsart.com/271687389016211.png");    
    background-image: url("https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-07-512.png");
    background-size: 30px 31px;
    width: 31px;
    height: 24px;
    cursor: pointer;
    margin: -5px -5px 8px 2px;
}

.post-options-comment {
    // background-image: url("https://instalikes.shop/wp-content/uploads/2018/08/Instalike-shop-service-comments-instagram-280x280.png");
    // background-image: url("https://images.vexels.com/media/users/3/147084/isolated/preview/9722f60b799c49612d9325786a69555c-instagram-chat-bubble-icon-by-vexels.png");
    background-image: url("https://icon-library.net//images/instagram-comment-icon-png/instagram-comment-icon-png-15.jpg");
    background-size: 36px 36px;
    width: 27px;
    height: 24px;
    cursor: pointer;
    margin-top: -8px;
}

// .post-options-share {
//     background-image: url("https://www.shareicon.net/download/2017/05/30/886557_add_512x512.png");
//     background-size: 30px 30px;
//     width: 30px;
//     height: 30px;
//     cursor: pointer;
//     margin-left: 5px;
    
// }

.post-options-bookmark {
    // background-image: url("https://www.shareicon.net/download/2017/05/30/886566_save_512x512.png");
    background-image: url("https://images.vexels.com/media/users/3/147081/isolated/preview/8665e39f2880934120b3c37131210042-instagram-bookmark-icon-by-vexels.png");
     background-size: 20px 21px;
    width: 20px;
    height: 21px;
    cursor: pointer;
    margin-left: 316px;
    margin-bottom: 4px;
}


.all-posts {
    display: flex;
    justify-content: center;
    padding: 50PX;
    flex-wrap: wrap;
    margin: auto;
    // margin-top: 50px;
    align-content: center;
}

.add-post-button {
    
}

.post-show-container {
   display: flex;
    justify-content: center;
    padding: 50PX;
    flex-wrap: wrap;
    // margin-top: 50px;
    align-content: center; 
    width: 400px;
    height: auto;
    // margin-top: 25px;
}

.post-edit-delete-container {
    width: 100%;
    justify-content: space-between;
    margin-bottom: -29px;
}

.post-index-item-edit {
    color: white;
    margin-top: 6px;
    padding: 3px 16px;
    text-decoration: none;
    margin-left: 58px;
    background: #3897f0;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 100;
    width: 50%;
}

.post-index-item-delete-button{
    color: white;
    text-decoration: none;
    margin-left: 157px;
    width: 22%;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: 100;
    background: #3897f0;
    border-radius: 10px;
    border: 2px solid #dbdbdb;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}


.feed-button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 55px auto;
    // margin-left: 3px;
}
.feed-button {
    align-text: center;
    margin: 6px auto 0;
    color: white;
    margin-top: 6px;
    padding: 3px 16px;
    text-decoration: none;
    background: #3897f0;;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 100;
}




.individual-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 480px;
    margin-right: 232px; 
}

.photos {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 99.5%;
    // max-height: 450px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #dbdbdb;
}

// .photos {
//     display: block;
//     justify-content: center;
//     margin: auto;
//     width: auto;
//     height: auto;
//     max-height: 400px;
//     max-width: 400px;
// }
.all {
    padding-top: 7%;
    display: flex;
    justify-content: center;
}

// .post-form {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;

// }


// .index-left {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     left: 0;
//     position: fixed;
//     width: 100px;
//     height: 100%;
// }

.index-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 170px 0 0 270px;
    top: 0;
    // right: 0;
    // background-color: white;
    position: fixed;
    // overflow: scroll;
    // position: absolute;
    width: 230px;
    height: auto;
    max-height: 450px;
    // border: solid 1px #dbdbdb;
}
.index-right-user-container {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.index-right-user-pic {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQviq0vi_kFNfszVCvxMb8BKc26jnVeQtWTFoH1LxLhBO1PXP8O");
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.index-right-user-names-container {
   margin: 4px 12px;
}

.index-right-current-user {
   color: black;
    font-size: 12px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.index-right-user-name {
    color: #999999;
    font-size: 11px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
    font-weight: 450;
    text-decoration: none;
}

.create-post-form {
   
    // height: 250px;
    // background: #fafafa;
    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    min-height: 148px;
    max-height: 450px;
    overflow: scroll;
    // z-index: 3;
}

.upload-post {
    font-size: 28px;
    font-family: "Cookie", cursive;
    font-weight: 400;
    margin: 10px 0px 4px 65px;
}
.img-preview-space {
    height: 115px;
    width: 100%;
    overflow: scroll;
}
.create-post-choose-file {

    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    background: #3897f0;
    color: white;
    width: 154px;
    height: 18px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
    padding-top: 4px;
    cursor: pointer;
}
.create-post-choose-file:focus {outline:0;}

.create-post-file-input {
    display: none; 
}
.create-post-caption-container {

}

.error {
    text-align: center;
    color: red;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 100; 
}

.create-post-caption {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 4px;
    z-index: 2;
    // background-color: #fafafa;
    height: 12px;
    // text-align: left;
    text-align: center;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 11px 53px 3px;
}


.create-post {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 5px;
}

.create-post-img-preview {
    width: 100%;
    height: auto;
    max-height: 180px;
    justify-content: center;
}



.create-post-button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 7px;
    background: #3897f0;
    color: white;
    width: 154px;
    height: 22px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
}
.create-post-button:focus{outline:0;}

// @media (max-width: 1200px) {                  
//    .index-right {
//       display: none;
//    }
// }
.individual-post-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 85px;
    width: 100%;
    // padding-top: 7%; 
}
.post-show-left {
    width: 478px;
    height: 100%;
    // border: solid black 0.5px;
    border: solid #e6e6e6 1px;
}

.post-show-right {
    height: inherit;
    margin: -14px 0px 0 0;
    width: 478px;
}

.post-show-caption-container {
    border: solid #e6e6e6 1px;
    border-bottom: none;
    border-top: none; 
    width: 100%;
    height: 20px;
    padding-top: 5px;
    display: flex;
    padding-bottom: 8px;
    margin-bottom: -12px;
    background: white;

}
.post-show-options{
    border-left: solid #e6e6e6 1px; 
    border-right: solid #e6e6e6 1px;
    // margin-top: 15px; 
    // height: 20px;
    // width: 100%;
    padding-top: 4px;
    padding-bottom: 23px;
    background: white;

}
.post-show-space {
    width: 100%;
    height: 25px;
    border-left: solid #e6e6e6 1px;
    border-right: solid #e6e6e6 1px;
    background: white;

}

.post-show-comments {
    width: 100%;
    margin-left: 1px;
}

.like-count {
    color: black;
    font-size: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 9px 0px 0 -1px;
}