.everything{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 330px 0;
    max-width: 550px;
    padding-bottom: 44px;
    width: 100%;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

    
.iphone-container{
    display: flex;
    width: 310px;
    height: 440px;
    margin: 40px 0px auto auto;
}
.iphone {
    background-image: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
    background-size: 310px 440px;
    height: 100%;
    width: 100%;
    align-self: center;
    background-position: 0 0;
    flex-basis: 454px;
}
    // background-image: url("https://www.instagram.com/static/images/homepage/screenshot2.jpg/6f03eb85463c.jpg");
    // background-image: url("https://www.instagram.com/static/images/homepage/screenshot3.jpg/f0c687aa6ec2.jpg") 
    // background-image: url("https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg"); 
    // background-image: url("https://www.instagram.com/static/images/homepage/screenshot4.jpg/842fe5699220.jpg");
    // background-image: url("https://www.instagram.com/static/images/homepage/screenshot5.jpg/0a2d3016f375.jpg");

.iphone-screen{
    
    background-size: 165px 306px;
    height: 307px;
    width: 166px;
    margin: 70px 0px 0px 102px;
    border-radius: 3px;
}

@keyframes screenSaver {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    40%{
        opacity: 0
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}    

.bg1, .bg2, .bg3, .bg4, .bg5{
    width: 166px;
    height: 307px;
    position: absolute;
    animation-name: screenSaver;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    // animation-delay: -4s;
}

.bg4 {
    animation-delay: 16s;
}

.bg5 {
    animation-delay: 12s;
}
.bg3 {
    animation-delay: 8s;
}

.bg2 {
    animation-delay: 4s;
}
.bg1 {
    animation-delay: -10s;
}


// .bg1 { background-image: url("https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg"); }
// .bg2 { background-image: url("https://www.instagram.com/static/images/homepage/screenshot2.jpg/6f03eb85463c.jpg"); }
// .bg3 { background-image: url("https://www.instagram.com/static/images/homepage/screenshot3.jpg/f0c687aa6ec2.jpg"); }
// .bg4 { background-image: url("https://www.instagram.com/static/images/homepage/screenshot4.jpg/842fe5699220.jpg"); }
// .bg5 { background-image: url("https://www.instagram.com/static/images/homepage/screenshot5.jpg/0a2d3016f375.jpg:"); }


.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 220px;
    height: 380;
    margin: -4px -68px 0 0;
    padding: auto;
    background-color: #ffff;
    border: solid #e6e6e6 1px;
    border-radius: 1px;
    z-index: 1
};

.session-errors{
    display: flex;
    flex-direction: column;
    text-align: center;
    font: red 10px;
    color: red;
    font-size: 8px;
    margin: 10px auto 3px;
}

.logo {
    display: flex;
    justify-content: center;
    color: #262626;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Cookie", cursive;
    // font-family: 'Billabong';
    // font-weight: normal;
    // src: local('Billabong'), url('Billabong.woff') format('woff');
}
.demo-icon{
    background-image: url("http://www.transparentpng.com/thumb/instagram-logo-icon/yVnfo1-instagram-logo-photo-icon.png");
    background-size: 26px 19px;
    height: 19px;
    width: 26px;
        margin: -39px 0px 20px 27px;
    z-index: 5;
}
.demo-button{
    display: flex;
    justify-content: center;
    margin: auto;
    background: #3897f0;
    color: white;
    width: 175px;
    height: 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 1;
}
.main{
    margin-bottom: 0 0 0 -8px;
}
.or {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 9px;
    margin: 12px 39px 12px;;
    color: #999999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.login-form-box {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.login-form {
    display: flex;
   flex-direction: column; 
    justify-content: center;
    z-index: 1;
    width: 100%;
}



.login-input {
    display: flex;
    align-content: center;
    background: #fafafa;
    border: solid #efefef 1px;
    border-radius: 5px;
    height: 20px;
    width: 165px;
    margin: 0px auto 6px;
    font-size: 10px;
    font-weight: 100;
    padding: 1px 5px;
}

.session-submit {
    display: flex;
    justify-content: center;
    background: #3897f0;
    color: white;
    width: 175px;
    height: 20px;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 9px;
    cursor: pointer;
}

.logo-greet {
    font-weight: 500;
    font-size: 12px;
    color: #999999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-align: center;
    margin-bottom: 13px;
}

.terms-container{
    display: flex; 
    flex-direction: row;
    height: auto;
}
.terms {
   font-weight: 300;
    font-size: 10px;
    color: #999999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 24px;
}

.terms-link{
    color: #999999;
    font-weight: 500;
    text-decoration-line: none; 
}

.session-switch{
    width: 220px;
    background-color: #ffff;
    border: solid #e6e6e6 1px;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    border-radius: 1px;
    margin: 5px 0 10px;
}

.session-switch-content {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    color: #262626;
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.session-switch-link {
    text-decoration-line: none;
    font: inherit;
    color: #3897f0;
    font-weight: 600;
    font-size: 10px;
}

.get-app-text{
  font-size: 9px;
    color: #262626;
    display: flex;
    justify-content: center;
}

.app-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 30px;
}
.get-app-apple{
    background-image: url("https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png");
    height: 30px;
    width: 91px;
    background-size: 91px 30px;
    margin: 3px;
}

.get-app-google{
    width: 50%;
    background-image: url("https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png");
    height: 30px;
    width: 91px;
    background-size: 91px 30px;
    margin: 3px;
}